<div class="container">
    <div class="grid-displayShips">
        <div class="ship destroyer-container" draggable="true" (drag)="ondragstart($event)" (mousedown)="shipiclicked($event)">
            <div id="destroyer00"></div>
            <div id="destroyer01"></div>
            <div id="destroyer02"></div>
            <div id="destroyer03"></div>
        </div>
        <div class="ship destroyer2-container" draggable="true" (drag)="ondragstart($event)" (mousedown)="shipiclicked($event)">
            <div id="destroyer200"></div>
            <div id="destroyer201"></div>
            <div id="destroyer202"></div>
            <div id="destroyer203"></div>
        </div>
        <div class="ship battleship-container" draggable="true" (drag)="ondragstart($event)" (mousedown)="shipiclicked($event)">
            <div id="battleship00"></div>
            <div id="battleship01"></div>
            <div id="battleship02"></div>
            <div id="battleship03"></div>
            <div id="battleship04"></div>
        </div>
    </div>
    <div style="display: flex;flex-direction: column;">
        <h3>{{ chance }}</h3>
        <div style="display: flex; flex-direction: row;">
            <div class="battleship-grid grid-user" (dragover)="allowDrop($event)"></div>
            <div class="battleship-grid grid-computer"></div>
        </div>
        <div>
            <button id="startButton" class="btn" (click)="startGame()">Start Battle</button>
            <button id="rotateButton" class="btn" (click)="rotateShips()">Rotate Ship</button>
        </div>
    </div>
</div>